/.bash_history
/.cache
/.config
/.docker
/.gitconfig
/.landscape
/.local
/.motd_shown
/.npm
/.profile
/.psql_history
/.python_history
/.quokka
/.sudo_as_admin_successful
/.vscode
/.vscode-server
/.wallaby
/.wget-hsts
/Pipfile
/Pipfile.lock
/db.sqlite3
/esc
/ienv
/manage.py
/ts
/wordpress-docker-compose
/.virtualenvs
/.azure
/.aws