<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        <title>Business Profile</title>
    </head>
    <body>
        <!-- <script src="https://unpkg.com/vue@next"></script> -->
        <h1>Invoice Management</h1>
        <div id="app">
            <h2>{{fname}}</h2>

        </div>

        {% load static %}
    
        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
    </body>
</html>

